<nav>
  <ul>
    <li>{{link-to "Edit" "document.edit"}}</li>
    <li>{{link-to "Preview" "document.preview"}}</li>
  </ul>
</nav>
<div class="main-content">
  {{input-file-open action="open"}}
  {{input-file-save saveAs=model.isNew action="save"}}
  {{outlet}}
</div>
<footer>
  <div>{{fileHandle}}</div>
  <div>
    {{#if model.isDirty}}
      <span>Unsaved Changes</span>
    {{else}}
      <span>{{model.lastUpdated}}</span>
    {{/if}}
  </div>
</footer>
